<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TURY</title>
</head>
<body>
    <h1>tury tury tury 2 </h1>
    Gracz 1 : {{ players.player1 }}     <br>
    rezultat 1 : {{ results.player1 }}  <br>
    <br>
    Gracz 2 : {{ players.player2 }}     <br>
    rezultat 2 : {{ results.player2 }}  <br>
    <br>
    Gracz 3 : {{ players.player3 }}     <br>
    rezultat 3 : {{ results.player3 }}  <br>
    <br>
    Gracz 4 : {{ players.player4 }}     <br>
    rezultat 4 : {{ results.player4 }}  <br>
    <br>
</body>
</html>
