<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>rat-a-tat-tat albo dutch - tu przeliczysz wyniki gry</title>
</head>
<body>
    <h1> Tu przeliczysz wyniki gry  dutch zwanej też rat-a-tat-tat!!1 </h1>
    <p>
    <p>

         <a href="https://gathertogethergames.com/rat-a-tat-tat"> Reguły gry (eng)</a>.

    <H1>Podaj graczy </H1>
    <form method="post">
        {{ form.csrf_token }}
         <p>
             tr1
             {{ form.meta.get_translations(form) }}
             tr2
             {{ form.how_many_players.label  }}
             {{ form.how_many_players  }}
        </p>
        <ul>
            {% for error in form.how_many_players.errors %}
                <li style="color:red;"> aaa {{ error }} </li>
            {% endfor  %}
        </ul>
        <button type="submit">Rozpocznij przeliczanie wyników </button>
    </form>


</body>
</html>