<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rat-a-tat-tat albo dutch - tu przeliczysz wyniki gry</title>
</head>
<body>
    <h1> Tu przeliczysz wyniki gry  dutch zwanej też rat-a-tat-tat </h1>
    <p>
    <p>

         <a href="https://gathertogethergames.com/rat-a-tat-tat"> Reguły gry (eng)</a>.

    <H1>Podaj graczy </H1>
    <form method="post">
        <p>
            Gracz 1 nazwa <input type="text" name="form_p1_name">
        </p>

        <p>
            Gracz 2 nazwa <input type="text" name="form_p2_name">
        </p>

        <p>
            Gracz 3 nazwa <input type="text" name="form_p3_name">
        </p>

        <p>
            Gracz 4 nazwa <input type="text" name="form_p4_name">
        </p>

        <button type="submit">Rozpocznij przeliczanie wyników </button>
    </form>


</body>
</html>