{% from "Jinja2_macros.html" import macro_nav       %}
{% from "Jinja2_macros.html" import macro_footer    %}

{% extends "bootstrap/base.html" %}

{% block html_attribs %}
    lang="pl"
{% endblock %}


{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{% endblock %}


{% block title %}
    rat-a-tat-tat albo dutch - tu przeliczysz wyniki gry 1
{% endblock %}





{% block content %}
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h2>Tu przeliczysz wyniki gry Dutch  <p> zwanej też rat-a-tat-tat </p> </h2>
    </div>

    {{ macro_nav() }}

    <div class="alert alert-success" role="alert">

        Gracze i punkty:
        <p></p>
        {% for key,value in PlayersResults.items() %}
            <li>
                    {{ key }} punktów  {{ value }}
            </li>
        {% endfor %}
        <p></p>


        <form method="post">
            {{ form.csrf_token }}
            {{ form.how_many_players.label  }}
            {{ form.how_many_players  }}
            <ul>
                {% for error in form.how_many_players.errors %}
                    {% if error == 'Not a valid integer value' %}
                        <li style="color:red;">  Dozwolone są tylko liczby  </li>
                      {% else %}
                        <li style="color:red;">  {{ error }} </li>
                    {% endif %}
                {% endfor  %}
            </ul>
            <button type="submit">Zaczynamy </button>
            <p>
    <!--             {{ form.meta.get_translations(form) }} -->
            </p>
        </form>
    </div>

<!--
    <div class="alert alert-success" role="alert">
      This is a success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
      This is a danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
      This is a warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
      This is a info alert—check it out!
    </div>
    <div class="alert alert-light" role="alert">
      This is a light alert—check it out!
    </div>
    <div class="alert alert-dark" role="alert">
      This is a dark alert—check it out!
    </div>
-->

    {{ macro_footer() }}

{% endblock %}
{% block scripts %}
{{ super() }}
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{{super()}}
{% endblock %}
